.container {
  width: 600px;
  background-color: #f5f5f5;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  text-align: center;
  padding: 5px;
}

.form-input {
  width: 80%;
  height: 30px;
  padding: 5px;
  margin-top: 4px;
}
